/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  text-align: center;
  background-color: white;
  padding: 30px;
  border-radius: 6px;
  width: 90%;
  max-width: 600px;
}
.app-title {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
input[type="text"] {
  flex-grow: 1;
  min-width: 200px;
  border-radius: 6px;
}
button {
  padding: 10px;
  margin-left: 10px;
  background-color: #007BFF;
  border: none;
  color: white;
  border-radius: 6px;
  font-size: 16px;
}
button:hover {
  background-color: #0056b3;
}

#map {
  width: 100%;
  height: 50vh;
  margin-top: 1rem;
  border-radius: 6px;
}
.custom-cluster-icon {
  border-radius: 50%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  height: 40px;
  width: 40px;
}
.custom-cluster-icon .cluster-count {
  line-height: 40px;
}
#search-results {
  margin-top: 20px;
  text-align: left;
}

#conditions {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  border-radius: 6px;
  padding: 1rem;
}
.weather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.marine_color {
  background-color: green;
  min-height: 10px;
}
.table_conditions {
  padding: 2px;
}
.footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  text-align: center;
  padding: 10px;
}
